@import url('../css/variable.css');
@import url('../css/components.css');
@import url('../assets/fonts/font.css');

body{
    font-size: var(--font-size-base);
    background-color: var(--background);
    color: var(--text-color);
    margin: 0 auto;
    padding: 0;
}

a{
    cursor: pointer;
}

div .paggination{
    display: flex;
    gap: 15px;
    height: 15px;
    order: 4;
}

div .paggination-item{
    height: 8px;
    width: 8px;
    background-color: transparent;
    border: 1px solid var(--help-white);
    border-radius: 50%;
    transition: background-color 0.5s ease; 
}

.paggination-item.active{
    background-color: var(--help-white);
}