@import url('../css/variable.css');
@import url('../css/components.css');
@import url('../assets/fonts/font.css');

html{
    max-width: 1440px;
    margin: 0 auto;
}

body{
    font-size: var(--font-size-base);
    background-color: var(--background);
    color: var(--text-color);
    margin: 0 auto;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
    max-width: 1440px;
}

a{
    cursor: pointer;
    text-decoration: none;
}

button{
    all: unset;
    cursor: pointer;
}

img{
    user-select: none;
    pointer-events: none;
}

/* section{
    padding
} */
