@import url('../css/variable.css');
@import url('../css/components.css');
@import url('../assets/fonts/font.css');

body{
    font-size: var(--font-size-base);
    background-color: var(--background);
    color: var(--text-color);
    margin: 0 auto;
    padding: 0;
}

a{
    cursor: pointer;
    text-decoration: none;
}

button{
    all: unset;
    cursor: pointer;
}

img{
    user-select: none;
    pointer-events: none;
}

/* section{
    padding
} */
