:root{
    --font-size-base: 16px;

    --background: #141414;
    --text-background: #FFFFFF;
    --background-60: #999999;
    --text-background-20: #ffffff33;
    --text-color: #ffffff;
    --text-color-80: #ffffffcc;
    --text-color-60: #ffffff99;
    --help: #BE2B31;
    --help-20:#be2b3033;
    --help-white: #FFFFFF;
}
