.services{
    display: flex;
    padding: 70px 100px;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    overflow-x: hidden;
    box-sizing: border-box;
}

.services-filter{
    display: flex;
    gap: 15px 50px;
    position: relative;
    align-items: center;
    justify-content: center;
    width: fit-content;
}

.services-filter >button{
    text-transform: uppercase;
    box-sizing: border-box;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    transition: all 0.3s ease-out;
}

.services-filter >button:hover{
    background-color: var(--help-20);
    opacity: 0.9;
}

.services-filter .filter-background{
    width: 170px;
    height: 72px;
    background-color: var(--help);
    transition: all 0.3s ease;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

/*--filters*/

.filter-section{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 30px;
    justify-content: center;
}

.custom-input{
    display: flex;
    gap: 15px;
    border: 1px solid var(--help-white);
    box-sizing: border-box;
    padding: 15px 30px;
    align-items: center;
    cursor: pointer;
    opacity: 0.6;
    transition: all 0.3s ease-out;

    height: 46px;
    width: 290px;

    font-family: 'GroteskDemi', sans;
    font-size: 1em;
    line-height: 1;
    text-decoration: none;
    letter-spacing: 0.05em; 
    color: var(--text-color); 
    margin: 0;
    display: flex;
}

.custom-input >input{
    all: unset !important;
    width: 100% !important;
}

.custom-input >input::placeholder{
    text-transform: uppercase;
}

.custom-input >img:nth-of-type(1){
    height: 15px;
    width: 15px;
}

.custom-input >button:nth-of-type(2){
    height: 8px;
    width: 8px;
    margin-left: auto !important;
    opacity: 0;
    transition: all 0.3s ease-out;
}

.custom-input:hover {
    background-color: var(--text-background-20);
}

.custom-input.active{
    opacity: 1;
    border: 1px solid var(--help);
}

.custom-input.active >button:nth-of-type(2){
    opacity: 1;
}


/*--service-box*/

.services-box{
    height: 430px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: blue;
    overflow-y: auto;
}

.container-service{
    display: flex;
    flex-wrap: wrap;
    gap: 0 30px;
    align-items: center;
    box-sizing: border-box;
    padding: 15px 50px 25px 50px;
    transition: all 0.3s ease-out;
}

.container-service:hover{
    background-color: var(--text-background-20);
}

.container-service.active{
    background-color: var(--text-background-20);
}

.container-service >img{
    height: 70px;
    width: 70px;
}

.price{
    text-transform: uppercase;
    color: var(--text-color-60);
    margin-left: auto;
}

.name-service{
    text-transform: uppercase;
}

.description{
    color: var(--text-color-60);
    margin-left: 100px;
    text-transform: uppercase;
    display: none;
    padding-right: 190px;
}

.container-service.active .description{
    display: flex;
}

.container-service >button{
    box-sizing: border-box;
    padding: 13px 25px;
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
}

.container-service >button >p{
    z-index: 10;
}

.container-service >button >span{
    display: flex;
    width: 50%;
    height: 100%;
    background-color: var(--help);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
}


/*600*/
@media(max-width: 939px){
    .services{
        padding: 50px;
    }
}

@media(max-width: 782px){
    .services-box{
        flex-direction: column;
    }
}

@media(max-width: 709px){
    .container-service{
        padding: 15px 30px 25px 30px;      
        gap: 0 15px;  
    }
    
    .container-service >img{
        height: 50px;
        width: 50px;
    }

    .price, .name-service{
        font-size: 1.25em;
    }

    .price{
        order: 4;
        margin-top: 30px;
    }

    .container-service >button{
        order: 5;
        margin-top: 30px;
    }

    .description{
        font-size: 0.75em;
        line-height: calc(16px / 12px);
        margin-left: 65px;
        padding-right: 0px;
        order: 3;
    }
}

@media(max-width: 509px){
    .services{
        padding: 70px 15px;
    }
}

@media(max-width: 442px){
    .services-filter{
        flex-direction: column;
    }

    .services-filter .filter-background{
        top: 0;
        left: 10px;
    }
}
