.services{
    display: flex;
    padding: 70px 100px;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    overflow-x: hidden;
    box-sizing: border-box;
}

.services-filter{
    display: flex;
    gap: 15px 50px;
    position: relative;
    align-items: center;
    justify-content: center;
    width: fit-content;
}

.services-filter >button{
    text-transform: uppercase;
    box-sizing: border-box;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    transition: all 0.3s ease-out;
}

.services-filter >button:hover{
    background-color: var(--help-20);
    opacity: 0.9;
}

.services-filter .filter-background{
    width: 170px;
    height: 72px;
    background-color: var(--help);
    transition: all 0.3s ease;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}



.filter-section{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 30px;
    justify-content: center;
}

.custom-input{
    display: flex;
    gap: 15px;
    border: 1px solid var(--help-white);
    box-sizing: border-box;
    padding: 15px 30px;
    align-items: center;
    cursor: pointer;
    opacity: 0.6;
    transition: all 0.3s ease-out;

    height: 46px;
    width: 290px;

    font-family: 'GroteskDemi', sans;
    font-size: 1em;
    line-height: 1;
    text-decoration: none;
    letter-spacing: 0.05em; 
    color: var(--text-color); 
    margin: 0;
    display: flex;
}

.custom-input >input{
    all: unset !important;
    width: 100% !important;
}

.custom-input >input::placeholder{
    text-transform: uppercase;
}

.custom-input >img:nth-of-type(1){
    height: 15px;
    width: 15px;
}

.custom-input >button:nth-of-type(2){
    height: 8px;
    width: 8px;
    margin-left: auto !important;
    opacity: 0;
    transition: all 0.3s ease-out;
}

.custom-input:hover {
    background-color: var(--text-background-20);
}

.custom-input.active{
    opacity: 1;
    border: 1px solid var(--help);
}

.custom-input.active >button:nth-of-type(2){
    opacity: 1;
}



@media(max-width: 939px){
    .services{
        padding: 50px;
    }
}

@media(max-width: 782px){
    .services-box{
        flex-direction: column;
    }
}

@media(max-width: 509px){
    .services{
        padding: 70px 15px;
    }
}

@media(max-width: 442px){
    .services-filter{
        flex-direction: column;
    }

    .services-filter .filter-background{
        top: 0;
        left: 10px;
    }
}
