@import url('../css/variable.css');

@font-face {
  font-family: 'GroteskBold';
  src: 
    url('./bold/reformagroteskbold.woff2') format('woff2'),
    url('./bold/reformagroteskbold.woff') format('woff'),
    url('./bold/reformagroteskbold.ttf') format('truetype');
}

@font-face {
  font-family: 'GroteskMedium';
  src: 
    url('./medium/reformagroteskmedium.woff2') format('woff2'),
    url('./medium/reformagroteskmedium.woff') format('woff'),
    url('./medium/reformagroteskmedium.ttf') format('truetype');
}

@font-face {
  font-family: 'GroteskDemi';
  src: 
    url('./demi/reformagroteskdemi.woff2') format('woff2'),
    url('./demi/reformagroteskdemi.woff') format('woff'),
    url('./demi/reformagroteskdemi.ttf') format('truetype');
}


/*---   bold    ---*/

.text-bold-150{
    font-family: 'GroteskBold', sans;
    font-size: 9.375em;
    line-height: 1;
    text-decoration: none;
    color: var(--text-color, #fff); 
    margin: 0;
}

.text-bold-80{
    font-family: 'GroteskBold', sans;
    font-size: 5em;
    line-height: 1;
    text-decoration: none;
    color: var(--text-color, #fff); 
    margin: 0;
}

/*---   medium    ---*/

.text-medium-36{
    font-family: 'GroteskMedium', sans;
    font-size: 2.25em;
    line-height: 1;
    text-decoration: none;
    color: var(--text-color, #fff);  
    margin: 0;
}

.text-medium-30-l5{
    font-family: 'GroteskMedium', sans;
    font-size: 1.875em;
    line-height: 1;
    text-decoration: none;
    letter-spacing: 0.05em; /*5%*/
    color: var(--text-color, #fff); 
    margin: 0;
}

.text-medium-30{
    font-family: 'GroteskMedium', sans;
    font-size: 1.875em;
    line-height: 1;
    text-decoration: none;
    color: var(--text-color, #fff); 
    margin: 0;
}

.text-medium-20{
    font-family: 'GroteskMedium', sans;
    font-size: 1.25em;
    line-height: 1;
    text-decoration: none;
    letter-spacing: 0.05em; /*5%*/
    color: var(--text-color, #fff); 
    margin: 0;
}


/*---   demi    ---*/

.text-demi-52-l5{
    font-family: 'GroteskDemi', sans;
    font-size: 3.25em;
    line-height: 1;
    text-decoration: none;
    letter-spacing: 0.05em; /*5%*/
    color: var(--text-color, #fff); 
    margin: 0;
}

.text-demi-s50-h70-l5{
    font-family: 'GroteskDemi', sans;
    font-size: 3.125em;
    line-height: 1.4;
    text-decoration: none;
    letter-spacing: 0.05em; /*5%*/
    color: var(--text-color, #fff); 
    margin: 0;
}

.text-demi-s46-h50-l5{
    font-family: 'GroteskDemi', sans;
    font-size: 2,875em;
    line-height: calc(50/46);
    text-decoration: none;
    letter-spacing: 0.05em; /*5%*/
    color: var(--text-color, #fff); 
    margin: 0;
}

.text-demi-32-l5{
    font-family: 'GroteskDemi', sans;
    font-size: 2em;
    line-height: 1;
    text-decoration: none;
    letter-spacing: 0.05em; /*5%*/
    color: var(--text-color, #fff); 
    margin: 0;
}

.text-demi-30-l5{
    font-family: 'GroteskDemi', sans;
    font-size: 1.875em;
    line-height: 1;
    text-decoration: none;
    letter-spacing: 0.05em; /*5%*/
    color: var(--text-color, #fff); 
    margin: 0;
}

.text-demi-s24-h30-l5{
    font-family: 'GroteskDemi', sans;
    font-size: 1.5em;
    line-height: 1.25;
    text-decoration: none;
    letter-spacing: 0.05em; /*5%*/
    color: var(--text-color, #fff); 
    margin: 0;
}

.text-demi-24-l5{
    font-family: 'GroteskDemi', sans;
    font-size: 1.5em;
    line-height: 1;
    text-decoration: none;
    letter-spacing: 0.05em; /*5%*/
    color: var(--text-color, #fff); 
    margin: 0;
}

.text-demi-22-l5{
    font-family: 'GroteskDemi', sans;
    font-size: 1.375em;
    line-height: 1;
    text-decoration: none;
    letter-spacing: 0.05em; /*5%*/
    color: var(--text-color, #fff); 
    margin: 0;
}

.text-demi-s20-l5{
    font-family: 'GroteskDemi', sans;
    font-size: 1.25em;
    line-height: 1;
    text-decoration: none;
    letter-spacing: 0.05em; /*5%*/
    color: var(--text-color, #fff); 
    margin: 0;
}

.text-demi-s20-h30-l5{
    font-family: 'GroteskDemi', sans;
    font-size: 1.25em;
    line-height: 1.5;
    text-decoration: none;
    letter-spacing: 0.05em; /*5%*/
    color: var(--text-color, #fff); 
    margin: 0;
}

.text-demi-s18-h25-l5{
    font-family: 'GroteskDemi', sans;
    font-size: 1.125em;
    line-height: calc(25/18);
    text-decoration: none;
    letter-spacing: 0.05em; /*5%*/
    color: var(--text-color, #fff); 
    margin: 0;
}

.text-demi-s16-l5{
    font-family: 'GroteskDemi', sans;
    font-size: 1em;
    line-height: 1;
    text-decoration: none;
    letter-spacing: 0.05em; /*5%*/
    color: var(--text-color, #fff); 
    margin: 0;
}

.text-demi-s16-h24-l5{
    font-family: 'GroteskDemi', sans;
    font-size: 1em;
    line-height: 140%;
    text-decoration: none;
    letter-spacing: 0.05em; /*5%*/
    color: var(--text-color, #fff); 
    margin: 0;
}

.text-demi-s14-l5{
    font-family: 'GroteskDemi', sans;
    font-size: 0.875em;
    line-height: 1;
    text-decoration: none;
    letter-spacing: 0.05em; /*5%*/
    color: var(--text-color, #fff); 
    margin: 0;
}

.text-demi-s14-h20-l5{
    font-family: 'GroteskDemi', sans;
    font-size: 0.875em;
    
    line-height: 1.25em;
    text-decoration: none;
    letter-spacing: 0.05em; /*5%*/
    color: var(--text-color, #fff); 
    margin: 0;
}