.registration{
    padding: 120px 0px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-container{
    display: flex;
    width: 290px;
    flex-direction: column;
    gap: 30px;
    height: fit-content;
    margin-top: 20px;
}

.form{
    display: flex;
    position: relative;
    margin-bottom: 0px;
    transition: all 0.3s ease-out;
    background-color: var(--background);
    z-index: 100;
}

.form >input{
    position: relative;
    z-index: 100;
    background-color: var(--background);
}

.form >p{
    position: absolute;
    z-index: 80;
    top: 0;
    left: 30px;
    right: 10px;
    width: 240px;
    transition: all 0.3s ease-out;
    margin: 0;
}

.form.error, .form.generate{
    margin-bottom: 40px;
}

.form.error:nth-of-type(1), .form.error:nth-of-type(2), .form.error:nth-of-type(4), .form.error.five{
    margin-bottom: 20px;
}

.form.error >input{
    background-color: var(--help-20);
}

.form.error >p:nth-of-type(1){
    top: 56px;
}

.generate{
    cursor: pointer;
    user-select: none;
}

.generateError{
    display: none;

}

.form.generate >p.generateError{
    top: 56px;
    display: flex;
}


/* 1 - 6 password */
p.one, p.two, p.three, p.four, p.five, p.six{
    display: none;
}

.form.error.one >p.one, .form.error.two >p.two, .form.error.three >p.three, .form.error.four >p.four, .form.error.five >p.five, .form.error.six >p.six{
    display: flex;
    top: 56px;
}



#passwordGenerate, #loginGenerate{
    position: absolute;
    z-index: 100;
    top: 16px;
    left: 233px;
    text-transform: uppercase;
    color: var(--text-color-60);
    width: fit-content;
}

#login >input{
    padding-right: 72px;
}

#password >input{
    padding-right: 103px;
}

.hide{
    position: absolute;
    z-index: 100;
    top: 15px;
    left: 187px;
    padding-left: 15px;
    height: 15px;
    width: 15px;
}

/*---- checkbox ----*/

.custom-checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.custom-checkbox input {
    display: none; /* Скрываем стандартный чекбокс */
}

.custom-checkbox .checkmark {
    width: 20px; 
    height: 20px; 
    background-color: var(--help-20);
    border: 1px solid var(--background-60);
    margin-right: 10px;
    box-sizing: border-box;
    position: relative;
}

.custom-checkbox input:checked + .checkmark::after {
    content: '';
    position: absolute;
    left: 4px; 
    top: 4px; 
    width: 10px; 
    height: 10px; 
    background-color: var(--background-60);
}



/*---- button -----*/

button{
    box-sizing: border-box;
    padding: 13px 25px;
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    margin-top: -10px;
}

button >p{
    z-index: 10;
    text-transform: none;
}

button >span{
    display: flex;
    width: 50%;
    height: 100%;
    background-color: var(--help);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
    transition: width 0.5s ease;
}

button >span{
    width: 53%;
}

button:hover >span{
    width: 100%;
}

@media(max-width: 1039px){
    .registration{
        padding: 90px 0;
    }
}

@media(max-width: 539px){
    .registration{
        padding: 60px 0;
    }
}