
/* ---  gallery    --- */


.gallery{
    box-sizing: border-box;
    padding: 70px 0;
    width: fit-content;
    overflow-x: auto;
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-right: 100px solid var(--background);
    border-left: 100px solid var(--background);
}

.gallery >div{
    height: 350px;
    display: flex;
    gap: 30px;
}

.gallery >div:nth-of-type(1) >img:nth-of-type(odd),
.gallery >div:nth-of-type(2) >img:nth-of-type(even){
    height: 350px;
    width: 810px;
    object-fit: cover;
}

.gallery >div:nth-of-type(1) >img:nth-of-type(even),
.gallery >div:nth-of-type(2) >img:nth-of-type(odd){
    height: 350px;
    width: 400px;
    object-fit: cover;
}

.gallery::-webkit-scrollbar {
    display: none; /* Скрыть полосу прокрутки в WebKit-браузерах (Chrome, Safari) */
}

@media(max-width: 939px){
    .gallery{
        padding: 50px 0;
        border-right: 50px solid var(--background);
        border-left: 50px solid var(--background);
        gap: 15px;
    }

    .gallery >div{
        height: 250px;
        gap: 15px;
    }

    .gallery >div:nth-of-type(1) >img:nth-of-type(odd),
    .gallery >div:nth-of-type(2) >img:nth-of-type(even){
        height: 250px;
        width: 610px;
    }

    .gallery >div:nth-of-type(1) >img:nth-of-type(even),
    .gallery >div:nth-of-type(2) >img:nth-of-type(odd){
        height: 250px;
        width: 300px;
    }
}

@media(max-width: 509px){
    .gallery{
        border-right: 15px solid var(--background);
        border-left: 15px solid var(--background);
    }

    .gallery >div{
        height: 150px;
    }

    .gallery >div:nth-of-type(1) >img:nth-of-type(odd),
    .gallery >div:nth-of-type(2) >img:nth-of-type(even){
        height: 150px;
        width: 410px;
    }

    .gallery >div:nth-of-type(1) >img:nth-of-type(even),
    .gallery >div:nth-of-type(2) >img:nth-of-type(odd){
        height: 150px;
        width: 200px;
    }
}



/* ---  feedback    --- */



.feedback{
    box-sizing: border-box;
    padding: 70px 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.feedback-box{
    display: flex;
    gap: 50px;
    align-items: center;
}

.feedback-container{
    width: 100%;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
}

/*no active card*/

.feedbak-card{
    border: 1px solid var(--background-80);
    box-sizing: border-box;
    height: 340px;
    width: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.6;
    transition: all 0.5s ease-out;
    padding: 70px 20px 30px 20px;
}

.feedback-card-person{
    box-sizing: border-box;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--help);
    margin-bottom: 25px;
}

.feedback-card-person >img{
    height: 15px;
    width: 15px;
    object-fit: cover;
}

.feedbak-card >p{
    text-transform: uppercase;
    text-align: center;
}

.feedbak-card >p:nth-of-type(2){
    margin: 10px 0 20px 0;
    color: var(--text-color-60);
}

/*active card*/

.feedbak-card.active{
    opacity: 1;
    height: 390px;
    width: 300px;
}

.feedbak-card.active .feedback-card-person{
    height: 70px;
    width: 70px;
}

.feedbak-card.active .feedback-card-person >img{
    height: 25px;
    width: 25px;
}

.feedbak-card.active >p:nth-of-type(1){
    font-size: 1.5em;
    line-height: 1;
}

.feedbak-card.active >p:nth-of-type(3){
    font-size: 1em;
    line-height: 140%;
}

@media(max-width: 782px){
    .feedback-box{
        flex-direction: column;
    }
}

@media(max-width: 509px){
    .feedback{
        padding: 50px 15px;
    }

    .feedbak-card{
        padding: 70px 15px 30px 15px;
    }
}




/* ---  request-service    --- */



.request-service{
    display: flex;
    gap: 50px;
    box-sizing: border-box;
    padding: 50px 100px 70px 100px;
}

.request-service .request-service-text{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    max-width: 730px;
}

.request-service-text >p:nth-of-type(1){
    text-transform: uppercase;
}

.request-service-text >p:nth-of-type(2){
    max-width: 580px;
    opacity: 0.8;
}

.request-service-box{
    max-width: 560px;
    width: 100%;
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    box-sizing: border-box;
}

.request-service-box-service{
    display: flex;
    flex-wrap: wrap;
    gap: 15px 30px;
    align-items: center;
    flex-grow: 1;
}

.request-service-box-service >p{
    margin-left: 30px;
    text-transform: uppercase;
}

.future-select{
    height: 46px;
    flex-grow: 1;
    min-width: 290px;
    border: 1px solid var(--help);
}

.request-service-box >textarea{
    max-width: 560px;
}

.request-service-box-buttons{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.request-service-social{
    display: flex;
    gap: 15px;
}

.request-service-box-buttons .question-social{
    flex-direction: row;
}

@media(max-width: 1261px){
    .request-service{
        flex-direction: column;
        align-items: center;
    }

    .request-service .request-service-text{
        align-items: center;
    }

    .request-service-text >p{
        text-align: center;
    }
}

@media(max-width: 939px){
    .request-service{
        padding: 50px;
    }
}

@media(max-width: 768px){
    .request-service-text >p:nth-of-type(1){
        font-size: 2.875em;
        line-height: calc(50/46);
    }
}

@media(max-width: 659px){
    .request-service-box{
        flex-direction: column;
    }

    .request-service-box >div:nth-of-type(1){
        padding-bottom: 0px;
    }
}

@media(max-width: 542px){
    .request-service-box-service{
        flex-direction: column;
        align-items: flex-start;
    }

    .future-select{
        height: 46px;
        flex-grow: 1;
        min-width: 290px;
        border: 1px solid var(--help);
    }
}

@media(max-width: 509px){
    .request-service{
        padding: 50px 15px;
    }
}


