header{
    min-height: 6.25em; /*100px*/
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 100px;
    box-sizing: border-box;
    max-width: 1440px;
    overflow-x: clip;
    z-index: 1;
    position: relative;
}

nav{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 30px;
}

nav a:nth-of-type(1), .nav >a:nth-of-type(1){
    all: unset;
    margin-right: 40px;
    min-height: 50px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 10px 0 10px 25px;
    position: relative;
    cursor: pointer;
}

nav a:nth-of-type(1) p, .nav >a:nth-of-type(1) p{
    z-index: 1;
    padding-right: 17px;
    line-height: 30px;
}

nav a:nth-of-type(1) span, .nav >a:nth-of-type(1) >span{
    display: flex;
    position: absolute;
    height: 100%;
    width: 78%;
    background-color: var(--help);
    z-index: 0;
    left: 0;
}

nav >button{
    all: unset;
    margin-left: auto !important;
}

.burger-menu{
    height: 25px;
    width: 45px;
    display: none;
    flex-direction: column;
    align-items: end;
    gap: 8px;
    margin-left: 50px;
}

.burger-menu div{
    width: 35px;
    height: 3px;
    background-color: var(--help);
    transition: transform 0.5s ease;
}

.burger-menu div:nth-of-type(2){
   transform: translateX(-9px);
}

.burger-menu:hover div:nth-of-type(2){
   transform: translateX(0px);
}


.menu{
    position: absolute;
    z-index: 10000;
    width: 300px;
    top: 100px;
    right: -320px;
    transition: all 0.5s ease-out;
    background-color: var(--background);
    border: 1px solid var(--help);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 25px 20px;
    align-items: center;
    gap: 15px;
}

.menu >p{
    margin-bottom: 15px;
}

.menu.active{
    right: 0px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный фон */
    z-index: 9999; /* Убедитесь, что он под меню, но над остальными элементами */
    display: none; /* Скрыт по умолчанию */
}

.overlay.active {
    display: block; /* Показывать, когда меню открыто */
}

.no-scroll {
    overflow: hidden; /* Запрет прокрутки */
}



@media(max-width: 1039px){
    nav >a:nth-of-type(2), nav >a:nth-of-type(3), nav >a:nth-of-type(4), nav >a:nth-of-type(5){
       display: none;
    }

    .burger-menu{
        display: flex;
    }
}

@media(max-width: 939px){
    header{
        padding: 0 50px
    }
}

@media(max-width: 539px){
    header{
        padding: 0 30px
    }

    nav button{
        margin-left: 0 !important;
    }

    nav a:nth-of-type(1){
       display: none;
    }
}