

/* ---  map    --- */


.map{
    padding: 70px 100px;
    display: flex;
    gap: 50px;
    box-sizing: border-box;
}

.map .map-text{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

.map-text >p:nth-of-type(1){
    text-transform: uppercase;
}

.map-text >p:nth-of-type(2){
    max-width: 580px;
    opacity: 0.8;
}

.map-container{
    min-width: 560px;
    height: 430px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width: 1227px){
    .map{
        flex-direction: column;
        align-items: center;
    }

    .map .map-text{
        align-items: center;
    }

    .map-text >p{
        text-align: center;
    }

    .map-container{
        min-width: 0px;
        width: 100%;
    }
}

@media(max-width: 939px){
    .map{
        padding: 50px;
    }
}

@media(max-width: 768px){
    .map-text >p:nth-of-type(1){
        font-size: 2.875em;
        line-height: calc(50/46);
    }
}

@media(max-width: 509px){
    .map{
        padding: 50px 15px;
    }
}



/* ---  contact    --- */
.contact{
    padding: 70px 100px;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.contact-item{
    flex-grow: 1;
    min-width: 320px;
    max-width: 393px;
    padding: 50px 25px 40px 25px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border: 1px solid var(--help-white);
    box-sizing: border-box;
}

.contact-item >p{
    text-align: center;
}

.contact-item >p:nth-of-type(1){
    text-transform: uppercase;
    color: var(--help);
}


@media(max-width: 973px){
    .contact-item{
        min-width: 290px;
        max-width: 320px;
    }
}

@media(max-width: 939px){
    .contact{
        padding: 50px;
    }
}

@media(max-width: 509px){
    .contact{
        padding: 50px 15px;
    }
}

